extends ../common-item
block b_postForm
    .form-group
        label 所在城市
        input.form-control(name='city' type='text' value='#{result.city || "北京"}')
    .form-group
        label 学校名称
        input.form-control(name='name',type='text' value='#{result.name || ""}')