extends ../common-list

block b_actionFrom
    a.btn.btn-info(href='#{adminDir}#{adminSubModel}/#{modelFileName}/add') 新增
    form(action='#{adminDir}#{adminSubModel}/#{modelFileName}/list', method='post')
        input(type='hidden', id='_csrf', name='_csrf', value='#{token}')
        .form-group.form-inline
            .form-inline
                label.form-label(style="") 所在城市：
                input.form-control(name='city', id='id_city', type='text',value='#{condition.city || ""}')
                label.form-label(style="") 学校名称：
                input.form-control(name='name', id='id_name', type='text',value='#{condition.name || ""}')
                button.btn.btn-primary(type='submit' style="margin-top:5px;") 查询
    form(action='#{adminDir}#{adminSubModel}/#{modelFileName}/exportData', id="exportForm", name="exportForm" method='post')
        input(type='hidden', id='ex_csrf', name='_csrf', value='#{token}')
        input(type='hidden', id='ex_date', name='date', value='#{condition.date}')
        button.btn.btn-primary(id="exportBtn" style="margin-top:5px;") 导出

block b_tableHeader
    - each headerCol in headerCols
        th #{headerCol.caption}
    th 操作
block b_tableBody
    - each result in results
        tr
            td
                // a(href='#{adminDir}#{adminSubModel}/#{modelFileName}/#{result.id}') #{result.id}
                | #{result.id}
            td
                | #{result.city}
            td
                | #{result.name}
            td
                | #{moment(result.created_time).format('YYYY-MM-DD HH:DD')}
            td
                a.btn.btn-danger.btn-xs.J_del(href='#{adminDir}#{adminSubModel}/#{modelFileName}/#{result.id}/del') 删除
                a.btn.btn-default.btn-xs(href='#{adminDir}#{adminSubModel}/#{modelFileName}/#{result.id}/edit') 编辑
