body{
    font-family: '微软雅黑' Monaco;
}
.preview img{
    max-width: 200px;
    max-height: 200px;
}
a.btn-danger{
    color: #fff;
}
.gallery{
    padding-bottom: 15px;
}
.gallery:after{
    content: '';
    clear: both;
    display: table;
}
.gallery-item{
    width: 200px;
    height: 200px;
    background-color: #f2f2f2;
    background-size: cover;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    text-align: center;
    border: 2px solid #fff;
    position: relative;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-align-items: center;
    -webkit-justify-content: center;
}
.gallery-item .file-holder{
    font-size: 100px;
}
.gallery-item img{
    max-width: 100%;
    height: 100%;
    max-height: 200px;
}
.gallery-remove{
    position: absolute;
    right: 2px;
    top: 2px;
    font-size: 24px;
    line-height: 0;
    color: #000 !important;
}
.media-list{
    border-left: 4px solid #eee;
    padding: 0px 15px;
    margin: 10px 0;
}