extends layout

block content
    .console
        h2 你好！当前角色: #{Roles}
        //- if(User && User.roles)
                each role in User.roles
                    ul.list-group
                        li.list-group-item 角色：
                            span.label.label-primary #{role.name}
                        li.list-group-item 权限：
                            span.label.label-info #{role.actions}
                        li.list-group-item 是否有'admin'权限：
                            span #{role.actions && role.actions.indexOf('admin') > -1}
    .row
        .col-md-3.col-sm-6
            a(href="#{adminDir}/user/")
                .dashboard-tile.detail.tile-turquoise
                    .content
                        h1.text-left.timer(data-from='0', data-to='56', data-speed='2500') #{data.user}
                        p 用户
                    .icon
                        i.fa.fa-users
        .col-md-3.col-sm-6.hidden
            a(href="#{adminDir}/role/")
                .dashboard-tile.detail.tile-blue
                    .content
                        h1.text-left.timer(data-from='0', data-to='32', data-speed='2500') #{data.role}
                        p 角色
                    .icon
                        i.fa.fa.fa-key

        .col-md-3.col-sm-6
            a(href="#{adminDir}/file/")
                .dashboard-tile.detail.tile-purple
                    .content
                        h1.text-left.timer(data-to='105', data-speed='2500') #{data.file}
                        p 文件
                    .icon
                        i.fa.fa-file
    

block foot-js
    script.

                
