extends ../layout

block content
    .row
        .col-md-12
            block b_actionFrom
                a.btn.btn-info(href='#{adminDir}#{adminSubModel}/#{modelFileName}/add') 新增
                form(action='#{adminDir}#{adminSubModel}/#{modelFileName}/list', method='post')
                    input(type='hidden', id='_csrf', name='_csrf', value='#{token}')
                    .form-group.form-inline
                        .form-inline
                            label.form-label(style="") 日期
                            input.form-control(name='date', id='id_date', type='date',value='#{condition.date || ""}')
                            label.form-label(style="") label：
                            input.form-control(name='label', id='id_label', type='text',value='#{condition.label || ""}')
                            label.form-label(style="") label2：
                            input.form-control(name='label2', id='id_label2', type='text',value='#{condition.label2 || ""}')
                            button.btn.btn-primary(type='submit' style="margin-top:5px;") 查询
                form(action='#{adminDir}#{adminSubModel}/#{modelFileName}/exportData', id="exportForm", name="exportForm" method='post')
                    input(type='hidden', id='ex_csrf', name='_csrf', value='#{token}')
                    input(type='hidden', id='ex_date', name='date', value='#{condition.date}')
                    button.btn.btn-primary(id="exportBtn" style="margin-top:5px;") 导出
            block b_dataTable
                table.table.table-striped
                    thead
                        tr
                        block b_tableHeader
                    tbody
                        block b_tableBody
            if (pageInfo && pageInfo.totalPage > 1)
                - pageInfo.query = query
                include ../mixin
                +pagination(pageInfo)

block foot-js
    script.
        var token = '#{token}';
        Messenger.options = {
            extraClasses: 'messenger-fixed messenger-on-bottom messenger-on-right',
            theme: 'flat'
        };
        $(document).on('click', '.J_del', function(e) {
            e.preventDefault();
            var $this = $(this);
            var $tr = $this.closest('tr');
            var url = $this.attr('href');
            var messenger = Messenger().post("处理中...");
            $.post(url, {_csrf: token}, function(json) {
                console.log(json);
                var status = json.status;
                if(status === true) {
                    //- Messenger().post({
                    //-     message: '删除成功',
                    //-     hideAfter: 3,
                    //-     type: 'success'
                    //- });
                    messenger.update({
                        message: '删除成功',
                        hideAfter: 3,
                        type: 'success'
                    });
                    $tr.remove();
                } else {
                    //- Messenger().post({
                    //-     message: '删除失败',
                    //-     hideAfter: 3,
                    //-     type: 'error'
                    //- });
                    messenger.update({
                        message: '删除失败',
                        hideAfter: 3,
                        type: 'error'
                    });
                }
            })
        });